body {
    background-color: black;
    margin: 0;
    color: white;
}

#returnButton {
    background-color: #4CAF50;
    /* Green background */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.returnButton:hover {
    background-color: #45a049;
}

.columnFlex {
    display: flex;
    flex-flow: column nowrap;
}

.rowFlex {
    display: flex;
    flex-flow: row nowrap;
}

#deckSelector {
    width: 30vw;
}

#deckHeader {
    justify-content: right;
    background-color: #D94C00;
}

#deckHeader>span {
    margin: auto;
}

#deckSorting {
    justify-content: space-between;
}

#deckList {
    background-color: #1B1B1B;
}

.listedDeck {
    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
}

.listedDeck .deckDetails {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    margin: 5px;
}

.listedDeck img {
    height: 5em;
    margin: 5px;
}

#mainView {
    flex: 1 1 auto;
}

#deckDisplay {
    background-color: #3D3D3D;
}

#selectedImage {
    margin: 10px;
}

#selectedDetails {
    justify-content: space-evenly;
}

#selectedControls > * {
    margin: 0 5px;
}

h1 { 
    margin: 0;
}

#songList {
    background-color: #D9D9D9;
    color: black;
}

#songList * {
    text-align: center;
}